<nav aria-label="Global" class="flex justify-center space-x-4 mt-4">
  <% @main_categories.each do |category| %>
    <a href="<%= category_path(category) %>" aria-current="page" class="px-3 py-2 rounded-md text-2xl font-semibold text-gray-800"><%= category.name %></a>
  <% end %>
</nav>